[package]
name = "portus"
version = "0.4.2"
authors = ["Akshay Narayan <akshayn@csail.mit.edu>", "Frank Cangialosi <frankc@csail.mit.edu>", "Deepti Raghavan <deeptir@cs.stanford.edu>"]
description = "A Congestion Control Plane"
homepage = "https://ccp-project.github.io"
documentation = "https://docs.rs/portus"
repository = "https://github.com/ccp-project/portus"
readme = "./README.md"
license = "ISC"

[dependencies]
bytes = "0.4.5"
clap = "2.32"
crossbeam = "0.7"
fnv = "1"
libc = "0.2"
nix = "0.9.0"
nom = "^4"
quote = "0.5"
slog = "2"
slog-async = "2"
slog-term = "2"
time = "0.1"
walkdir = "2"

[dependencies.syn]
version = "0.13"
features = ["full", "visit", "fold", "extra-traits"]

[dev-dependencies]
failure = "0.1"
minion = "0.1"
libccp = "0.0.7"
